ion-content{
    --background: black;
    border-left: 7px solid #FC4F00 ;
    .img{
        height: 160px;
        width: 160px;
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
    .header{
        padding: 0 12vw;
        margin-top: 5px;
        color: #fff;
        h3{
            font-size: 1.4rem;
            margin-top: 1px;
            color: #fff;
            text-align: center;
            span{
                color: #fff;
            }
        }
        h1{
            font-size: 2.2rem;
            font-weight: 400;
        }
    }
    .form{
        padding: 0 12vw;
        margin-top: 40px;
        ion-input{
            --background: #F79540;
            --padding-start: 33px;
            height: 55px;
            --border-radius: 25px;
            margin-bottom: 22px;
            --placeholder-color: black;
            --color: white;

        }
    }
    .button{
        width: 50vw;
        background-color: #FC4F00;
        margin-top: 50px;
        padding: 20px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: center;
        ion-icon{
            margin-left: 30px;
            
        }
    }
    .signup{
        margin-top: 50px;
        background-color: orangered;
        
    }
    .footer{
        color: #fff;
        --padding: 0 12vw;
        margin-top: 50px;
        text-align: center;

        h3{
            font-size: 1rem;
            font-weight: 400;

            span{
                font-size: 1.2rem;
                color: #FC4F00;
                font-weight: 500;
            }
        }

    }
    .signup-footer{
        margin-top: 10px;
    }
}
