<!--over all-->
<ion-content>
  <!--header start-->
  <div class="img">
  <ion-img src="assets/icon/artkoto.png"></ion-img>
  </div>
  <div class="header">
    <h3>Login</h3>
    <!--<<h3>Welcome Back, <span id="user-name">lhudymuel</span> </h3>-->
    <!--<h1>Please Login<br> To Continue</h1>-->
  </div>
  <!--header end-->

  <!--placeholder start-->
  <div class="form">
  <ion-input type="email" placeholder="Email" value=""></ion-input>
  <ion-input type="email" placeholder="Password" ></ion-input>
</div>
  <!--placeholder end-->

  <!--buttons start-->
  <div class="button">
    Login <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <!--buttons end-->

  <!--footer start-->
  <div class="footer">
    <h3 routerLink="/sign">Don't have an account? <span>Sign Up</span></h3>
  </div>
  <!--footer end-->
</ion-content>
<!--over all-->
