<!--over all-->
<ion-content style="border-left: 7px solid orangered;">
  <!--header start-->
  <div class="img">
    <ion-img src="assets/icon/artkoto.png"></ion-img>
    </div>
  <div class="header">
    <h3>Sign Up</h3>
    <!--<h3>Happy to see you</h3>
    <h1>Create a<br>New account</h1>-->
  </div>
  <!--header end-->

  <!--placeholder start-->
  <div class="form">
  <ion-input type="email" placeholder="Email"></ion-input>
  <ion-input placeholder="Username"></ion-input>
  <ion-input type="email" placeholder="Password" ></ion-input>
</div>
  <!--placeholder end-->

  <!--buttons start-->
  <div class="button signup">
    Signup <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <!--buttons end-->

  <!--footer start-->
  <div class="footer signup-footer">
    <h3 routerLink="/login">Already have an account?<span>Login</span></h3>
  </div>
  <!--footer end-->
</ion-content>
<!--over all-->
